<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
</head>
<body>
<h1>Авторизация</h1>
<form th:action="/login" method="post">
  <div><label> Логин : <input type="text" name="username" required/> </label></div>
  <div><label> Пароль: <input type="password" name="password" required/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Войти"/></div>

</form>
<a href="/registration">
    <button class="btn btn-primary btn-lg">Регистрация</button>
</a>
</body>
</html>