<!DOCTYPE HTML>
<html>
<head>
  <title>FAV</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Основная страница</h1>
    <div class="value">
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="text" name ="song" placeholder="Любимая песня">
            <input type="text" name ="dish" placeholder="Любимое блюдо">
            <input type="color" name ="color" placeholder="Любимый цвет">
            <input type="date" name ="date" placeholder="Любимая дата">
            <input type="number" name ="digit" placeholder="Любимое число">
            <button type="submit">Отправить</button>
        </form>
    </div>
<h1>Список пользователей</h1>
<table>
{{#listForModel}}
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Почта</th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{fName}}</td><td>{{sName}}</td><td>{{tName}}</td><td>{{birth}}</td><td>{{email}}</td><td>{{role}}</td>
        </tr>
        {{/listForModel}}
        </tbody>
</table>
    <div class="authorize__btn_operation_logout">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Выйти">
        </form>
    </div>
</body>
</html>